<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>
<h1>{module_pagename}</h1>
<p>{tag_cataloguebreadcrumbs}</p>{tag_cataloguelist,2,,,,,true}
<div class="shop-products">{tag_productlist,2,,,,,true}
    <div class="clear"></div>
</div>
<div>
    <div class="shop-back">{tag_previouspage,<img alt="" src="/CatalystImages/module_previous.png" />}</div>
    <div class="shop-pagination">{tag_pagination}</div>
    <div class="shop-next">{tag_nextpage,<img alt="" src="/CatalystImages/module_next.png" />}</div>
    <div class="clear"></div>
</div>
</body>