<?php include('lang.php'); ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $proyect_title; ?></title>
<link rel="stylesheet" href="proyect.css" media="screen" type="text/css" />
</head>

<body>

<div id="contenedor">
<div id="cabecera">
   <span class="Titulo">Freelance Soft</span> 
   <span class="TituloProyecto"><?php echo $proyect_title; ?> FDesktop </span>
</div>

<div id="contenido">
         <h1><?php echo $proyect_title; ?></h1>
         <p><?php echo $proyect_text; ?></p>
  </div>
<div id="navegacion">
  <h2>Proyecto </h2>
  <ul>
         <li><a href="#">Introduccion</a></li>
         <li><a href="#">xxxxxxxx</a></li>
         <li><a href="#">xxxxxxx</a></li>
    </ul>
<h2>Descargas</h2>
<ul>
         <li><a href="#">xxxxxxxxxxxxxx</a></li>
         <li><a href="#">xxxxxxxx</a></li>
    </ul>
<h2>Documentacion</h2>
<ul>
         <li><a href="#">xxxxxxx</a></li>
         <li><a href="#">xxxxxxxxxx</a></li>
         <li><a href="#">xxxxxx</a></li>
</ul>
<h2>Ejemplos</h2>
<ul>
  <li><a href="#">xxxxxxxx</a></li>
         <li><a href="#">xxxxxx</a></li>
</ul>
</div>
</div>
</body>
</html>
